.applicant-add__btns {
    margin-top: 30px;
}

.applicant-add__btns > button:not(:first-child):not(:last-child) {
    margin: 0 10px !important;
}

.applicant-add__btns > button:first-child {
    margin: 0 10px 0 0 !important;
}

.applicant-add__btns > button:last-child {
    margin: 0 0 0 10px !important;
}

@media (max-width: 1130px) {
    .applicant-add__btn__text,
    .applicant-add__header__btn__text {
        display: none;
    }

    .bi-arrow-left-short,
    .bi-person-lines-fill,
    .bi-person-add {
        margin-right: 0 !important;
    }
}

.applicant-add__header__back-btn,
.applicant-add__btn {
    margin: 0 !important;
    border-color: var(--text-primary) !important;
    background-color: var(--transparent) !important;
}

.bi-arrow-left-short,
.bi-person-lines-fill,
.bi-person-add {
    margin-right: 10px;
}

.applicant-page {
    width: 80%;
    min-width: 500px;
    max-width: 900px;
    margin: 0 auto;
}

.applicant-add__header {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.applicant-add__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--question-block);
    border-radius: 5px;
    width: 100%;
}