.coding__diff-viewer {
    border-radius: 2px;
    white-space: nowrap;
    border: 1px solid black;
}

.solved-assignment-coding .btn.btn--mod {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.solved-assignment-coding__header {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background: var(--transparent);
    display: flex;
    justify-content: space-between;
}