/* Standard colors */
:root, [data-theme="dark"] {
    --primary-color: #0a182d; /* background page */
    --secondary-color: #11243e; /* header, footer */
    --tertiary-color: #008bbd; /* buttons, borders*/
    --highlight: #17489b; /* hover buttons */
    --question-block: #faf9f62d;
    --assigntment-menu: #344050bf;
    --text-primary: #faf9f6;
    --text-secondary: #b2b9c2;
    --text-header: #faf9f6;
    --text-header-hover: grey;
    --icons: white;
    --white-background-transparent: #ffffffd9;
    --transparent: #ffffff00;
    --scrollbar-thumb: grey;
    --scrollbar-thumb-hover: #555;
    --text-black: black;
    --background-table-odd: #414040;
    --background-table-even: #2f2e2e;
    --status-item--error: #ef5353;
    --status-item: #466589;
    --loading-cell: grey;
}

[data-theme="light"] {
    --primary-color: #faf9f6; /* background page */
    --secondary-color: #5a9cd7; /* header, footer */
    --tertiary-color: #008bbd; /* buttons, borders*/
    --highlight: #17489b; /* hover buttons */
    --question-block: rgba(52, 51, 51, 0.18);
    --assigntment-menu: rgba(20, 61, 108, 0.75);
    --text-primary: black;
    --text-secondary: white;
    --text-header: #faf9f6;
    --text-header-hover: black;
    --icons: white;
    --white-background-transparent: #ffffffd9;
    --transparent: #ffffff00;
    --scrollbar-thumb: grey;
    --scrollbar-thumb-hover: #555;
    --text-black: black;
    --background-table-odd: #F2F2F2;
    --background-table-even: white;
    --status-item--error: #ef5353;
    --status-item: #466589;
    --loading-cell: lightgrey;
}

:root {
    min-width: 500px;
    overflow-x: auto;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-primary);
    font-family: Verdana, sans-serif;
    text-align: left;
    overflow: hidden;
}

/* width scrollbar */
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal {
    width: 10px;
    height: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    width: 10px;
    margin-block: 20px;
}
/* Handle scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
}
/* Handle scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
    border-radius: 10px;
}

/* Reset scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: scrollbar;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 8px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-right: 15px;
}

.btn--mod {
    margin: 40px 0;
    background-color: var(--tertiary-color);
    border-color: var(--transparent);
    color: var(--text-primary);
}

.btn--mod:hover {
    border-color: var(--transparent);
    background-color: var(--highlight);
}

.page--center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: var(--tertiary-color);
    cursor: pointer;
 }

main {
    height: 90vh;
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    overflow: hidden auto;
    margin-right: 5px;
}