.status-item {
    background-color: var(--status-item);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 12px;
    display: inline-flex;
    margin-right: 10px;
}

.status-item:not(:first-child):not(.status-item--invite) {
    margin-top: 3px;
}

.status-item--info {
    color: white;
}

.status-item--error {
    color: var(--status-item--error);
}

.block__status-item {
    max-width: 200px;
}

.status-item--invite {
    padding: 5px 10px;
    display: inline;
}