body, html {
  margin: 0;
  padding: 0;
  background-color: #0A182D;
  color: white;
  font-family: Verdana;
  text-align: left;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}
  