/* Standard colors */
:root {
  --primary-color: #0a182d; /* background page */
  --secondary-color: #11243e; /* header, footer */
  --tertiary-color: #008bbd; /* buttons, borders*/
  --highlight: #17489b; /* hover buttons */
  --question-block: #faf9f62d;
  --text-primary: #faf9f6;
  --text-secondary: #b2b9c2;
  --icons: white;
  --white-background-transparent: #ffffffd9;
  --transparent: #ffffff00;
  --scrollbar-thumb: grey;
  --scrollbar-thumb-hover: #555;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-primary);
  font-family: Verdana, sans-serif;
  text-align: left;
  overflow: hidden;
}

/* width scrollbar */
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal {
  width: 10px;
  height: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  width: 10px;
  margin-block: 20px;
}
/* Handle scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}
/* Handle scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
  border-radius: 10px;
}

/* Reset scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: scrollbar;  /* IE and Edge */
  scrollbar-width: thin;  /* Firefox */
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 8px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-right: 15px;
}

.btn--mod {
  margin: 40px 0;
  background-color: var(--tertiary-color);
  border-color: var(--transparent);
  color: var(--text-primary);
}

.btn--mod:hover {
  border-color: var(--transparent);
  background-color: var(--highlight);
}