main {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: right;
    padding: 25px;
    flex-direction: column;
}

.assignment {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}