.header, .footer {
    background-color: var(--secondary-color);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--text-secondary);
    align-items: center;
  }

.header__progress {
    margin-top: 10px;
    margin-left: 5px;
    height: 5px;
}

.header__progress-bar {
    width: 50%;
    background-color: var(--tertiary-color);
    /* TODO filled code currently */
}

.bi-clock, .bi-arrow-right-circle, .bi-moon, .bi-question-circle {
    font-size: 35px;
    color: var(--icons);
    margin: 0 10px;
}
span:has(.bi-clock) {
    height: 100%;
    margin-top: -2px;
}

.header__time-text {
    color: var(--icons);
    padding-right: 10px;
}

.header__right, .footer__right>span {
    display: flex;
    align-items: center;
}
  