.interview-header, .interview-footer {
    background-color: #11243e;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: #B2B9C2;
    align-items: center;
  }

.progress-bar {
    width: 50%;
    /* TODO filled code currently */
}

.progress {
  margin-top: 10px;
  margin-left: 5px;
  height: 5px;
}

.bi-clock, .bi-list, .bi-play-circle, .bi-moon, .bi-question-circle {
  font-size: 35px;
  color: white;
  margin: 0px 10px;
}
span:has(.bi-clock) {
  height: 100%;
  margin-top: -2px;
}

.time-left {
  color: white;
  padding-right: 10px;
}

.header-right, .footer-right>span {
  display: flex;
  align-items: center;
}
  