main {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: right;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 70vh; /* TODO find the proper height */
}

.assignment {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}