.header, .footer {
    background-color: var(--secondary-color);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--text-secondary);
    align-items: center;
  }

.bi-clock, .bi-arrow-right-circle, .bi-moon, .bi-question-circle {
    font-size: 35px;
    color: var(--icons);
    margin: 0 10px;
}

.bi-arrow-right-circle, .bi-moon, .bi-question-circle {
    cursor: pointer;
}

.header__time-text {
    color: var(--icons);
    padding-right: 10px;
}

.header__right, .footer__right>span {
    display: flex;
    align-items: center;
}
  