<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <title>Asserberus Invitation</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f9f9f9; color: #333333;">
<div style="background-color: #f9f9f9; padding: 20px 0;">
    <div style="text-align: center; margin-bottom: 20px;">
        <img style="max-width: 150px; height: auto;" src='cid:infoSupportLogo.png' alt="Info Support logo"/>
    </div>
    <div style="background-color: #ffffff; border: 1px solid #dddddd; padding: 20px; width: 100%; max-width: 600px; margin: 0 auto;">
        <div>
            <p style="font-size: 20px">
                Dear applicant,
            </p>
            <p>
                Info Support is looking for talent to join their crew, are you up to the challenge?
            </p>
            <p>
                You are? Great! Here it is. Recruiter InfoSupport from Info Support has invited you to take an assessment on Asserberus.com, now it's
                your time to show off your skills. The assessment is already set up for you, so you can start whenever you are ready.
            </p>
            <p>{{ADDITIONAL_MESSAGE}}</p>
            <p>
                If you have any questions about the recruitment process, don't hesitate to contact Recruiter InfoSupport
                <a style=" text-decoration: none; color: #008bbd;" href="mailto:recruiter@infosupport.com">
                    recruiter@infosupport.com
                </a>
                .
            </p>
            <p>
                To find out how to take an assessment on Asserberus,
                <a style=" text-decoration: none; color: #008bbd;" href="<<TODO INSERT_LINK_TO_GUIDE>>">
                    visit our guide (with an FAQ section)
                </a>
                .
            </p>
            <p>
                Are you ready to take the first step to become a part of the Info Support team?
            </p>
            <p style="text-align: center; margin-top: 20px;">
                <a href="{{INVITE_LINK}}" style="display: inline-block; padding: 15px 20px; margin: 20px 0; background-color: #008bbd; color: #ffffff; text-decoration: none;
                        font-size: 16px; text-align: center; border-radius: 4px;">
                    Go to the assessment start page
                </a>
            </p>
            <p style="font-size: 12px; color: #666666;">
                <em>
                    (don't worry, the assessment won't start until you click the "Start assessment" button)
                </em>
            </p>
            <p>
                <b>
                    Your invitation to the assessment expires on {{EXPIRATION_DATE}}
                </b>
            </p>
            <p>
                For any questions which aren’t answered by the guide, email us at
                <a style=" text-decoration: none; color: #008bbd;" href="mailto:recruiter@infosupport.com">
                    recruiter @infosupport.com
                </a>
                .
            </p>
            <p>
                Take a chance to level up your career!
            </p>
            <p>
                Fingers crossed,<br>The InfoSupport Team
            </p>
        </div>
        <div style="text-align: center; margin-bottom: 20px;">
            <p style="padding-top: 20px;">
                Learn how to take an assessment on Asserberus
            </p>
            <p style="text-align: center; margin-top: 20px;">
                <a href="<<TODO INSERT_LINK_TO_GUIDE>>"
                   style="display: inline-block; padding: 15px 20px; background-color: #008bbd; color: #ffffff; text-decoration: none; font-size: 16px; text-align: center; border-radius: 4px;">
                    View guide
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
